.d-inline-block{
	display: inline-block;
}
.logo{
	margin:35px auto 30px 35px;
	width:161px;
	float: left;
}
header::after{
	content: "";
	clear: both;
	display: block;
}
.nav-ul{
	margin: 40px auto;
	float: right;
}
.nav-ul li{
	font-size: 20px;
	line-height: 45px;
}
.nav-ul li a{
	color:#000000;
	font-family: "Glaho WEB",sans-serif;
	margin-right: 35px;
}
.nav-ul li a:hover{
	color:#B8EDF8;
	text-decoration: none;
}
.image-content{
	position: relative;
	z-index: -1;
}
.image-content img{
	width: 100%;	
}
.image-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.image-text h1{
	color:#FFFFFF;
	font-size: 40px;
	font-family: "Glaho WEB",sans-serif;
	margin-top: 50px;
}
.image-text h6{
	color: #FFFFFF;
	font-size: 30px;
	font-family: "Nino Mkhedruli", sans-serif;
	margin-top: 15px;
}
.line1{
	width: 93px;
	height: 1px;
	background-color: #000000;
	margin: 10px auto 60px auto;
}
.line2{
	position: absolute;
	top: 121px;
	left: 137px;
	width: 25px;
	height: 2px;
	background-color: #B8EDF8;
}
.what-i-do-heading{
	margin-top: 59px;
	font-family: "Glaho WEB";
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
	padding: 2px 0 4px 0;
}
.customDiv{
	width: 268px;
	height: 300px;
	border:1px solid #666666;
	margin-right: 23px;
}
#idea-img{
	width: 48px;
	margin: 32px 110px 0 110px;
}
#design-img{
	width: 81px;
	margin:29px 91px 0 91px;
}
#programming-img{
	width:65px; 
	margin: 40px 100px 11px 99px;
}
#support-img{
	width: 83px;
	margin: 25px 92px 0 89px;
}
.what-i-do-news{
	margin-top: 55px;
	margin-bottom: 47px;
	text-align: center;
}
.what-i-do-news h3{
	font-family: "Glaho WEB",sans-serif;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 18px;
}
.what-i-do-news p{
	font-family: "Nino Mkhedruli";
	font-size: 16.49px;
}
.my-works-heading{
	margin-top: 58px;
	margin-bottom: 10px;
	padding:3px 0;
	text-align: center;
	font-family: "Glaho WEB",sans-serif;
	font-size: 24px;
	background
}
.my-works-image{
	border:2px solid #B8EDF8;
	height: 200px;
	overflow: hidden;
    margin-right: 24px;
	margin-bottom: 30px;
	width: 30% !important;
	padding: 0 !important;
}
.my-works-image:last-child{
	margin-right: 0;
}
.my-works-image a:hover{
	background-color: rgba(184,237,248,0.4);
}
.row-margins{
	margin-left: 113px !important;
}
